:root {
  --input-width: 110px;
  --input-height: 22px;
  --border-radius: 25px;
  --form-padding-bottom: 5px;
}

input {
  width: var(--input-width);
  height: var(--input-height);
}

.form {
  border-style: solid;
  border-radius: var(--border-radius);
  text-align: center;
  padding-bottom: var(--form-padding-bottom);
  margin: var(--form-padding-bottom);
  background-color: lightslategray;
}

.wrapper {
  flex-direction: row;
}
